*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "HarmonyOS Sans";
  color: white;
  list-style: none;
  text-autospace: normal;
  overflow-wrap: anywhere;
  user-select: none;
}

html,
body {
  height: 100%;
}

input,
button {
  outline: none;
  color: black;
}

input[type="text"] {
  border-style: solid;
  border-width: 0;
}

select,
option {
  color: black;
}

input:focus {
  outline: none;
}

button {
  border-style: none;
  cursor: pointer;
}

:root {
  background-color: #2c2c2c;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

#database-loading {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#app {
  height: 100vh;
  padding: 20px 40px 50px 40px;
  gap: 20px;
}

#title {
  cursor: pointer;
}

#background-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: -325;
  object-fit: cover;
  filter: blur(10px);
}

#main-content {
  flex: 1;
  gap: 20px;
  height: 100%;
  min-height: 0;
}

#cards-wrapper {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

#cards-wrapper::-webkit-scrollbar {
  display: none;
}

#session-cards {
  height: calc(100% + 5px);
  width: 420px;
  gap: 5px;
}

#cards-new {
  height: 32px;
  border-radius: 16px;
}

.card {
  margin-bottom: 10px;
  background-color: #3c3c3c;
  /* TODO: 渐变边框。上：#404040，下：#787878 */
  border: #737373 solid 2px;
  border-radius: 5px;
  --card-padding: 6px 6px 6px 8px;
  padding: var(--card-padding);
  width: 100%;
  height: 85px;
  cursor: pointer;
  gap: 18px;
  align-items: center;
  font-size: 1.15em;
  position: relative;
  isolation: isolate;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--deco_sns_tweet_decorate_02) no-repeat right center / auto
    110%;
  opacity: 0.025;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    var(--sns_list_decorate_2) no-repeat top 9px right 12px,
    var(--deco_sns_tweet_decorate) no-repeat top 56px left 96px / 38px 4px;
  opacity: 0.28;
}

.card:last-child {
  margin-bottom: 0;
}

.card:hover {
  background-color: #4c4c4c;
}

#card-img-wrapper {
  border: #555455 solid 1px;
  border-radius: 4px;
  height: 100%;
  overflow: hidden;
}

#card-img-wrapper > img {
  height: 100%;
  scale: 1.28;
}

#session {
  flex: 1;
  gap: 10px;
  min-width: 0;
  height: 100%;
}

#session-decorate {
  position: fixed;
  top: 60px;
  right: -28px;
  z-index: -100;
  transform: scale(0.8);
  opacity: 0.2;
}

#session-not-chosen {
  flex: 1;
  align-items: center;
  justify-content: center;
}

#session-header {
  flex: 0 0 65px;
  height: 65px;
  border: #838383 solid 2px;
  border-radius: 15px 15px 0 0;
  /* TODO: header 底下有个小黑条 */
  background:
    var(--session-title-left-bar) repeat-y scroll left center / 25px,
    #3c3c3c var(--session-title-right-bar) no-repeat scroll right center / auto
      100%;
  justify-content: center;
}

#session-header span {
  margin-left: 40px;
  font-size: 1.2em;
}

#session-main {
  --input-area-height: 80px;
  border: white solid 2px;
  border-radius: 0 0 15px 15px;
  flex: 1;
  position: relative;
  min-height: 0;
  background: #ffffff0b;
}

#session-main-content {
  flex: 1;
  overflow-y: auto;
}

#session-main-content {
  mask-image: linear-gradient(
    to bottom,
    transparent 2%,
    black 6%,
    black calc(100% - 40px),
    transparent calc(100% - 20px)
  );
  padding: 30px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#input-area {
  --gap: 15px;
  --area-padding: 18px;
  --button-width: calc(var(--input-area-height) - var(--area-padding) * 2);
  flex: 0 var(--input-area-height);
  background-color: #3c3c3c;
  border-radius: 0 0 15px 15px;
  padding: var(--area-padding);
  gap: var(--gap);
  z-index: 325;
}

.input-area-with-menu {
  background-color: #000000 !important;
  border-radius: 15px !important;
}

#input-area-input {
  flex: 1;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eeecec;
}

#input-area-input-input {
  position: relative;
  width: calc(100% - var(--button-width));
  height: 100%;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #eeecec;
}

#input-area-submit {
  width: var(--button-width);
  height: var(--button-width);
  border-radius: 100%;
  background: #eeecec00 var(--icon-sns-message-02) no-repeat center 10px / 80%;
  position: absolute;
  right: calc(
    var(--area-padding) + var(--button-width) * 3 + var(--gap) * 2 - 32px
  );
}

.input-area-button {
  position: relative;
}

.input-area-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  border-radius: 100%;
  transition: background-color 0.1s linear;
}

.input-area-button:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000032;
  border-radius: 100%;
}

#input-area-stickers {
  width: var(--button-width);
  border-radius: 100%;
  background: #eeecec var(--icon-sns-chat-emoticon) no-repeat center center /
    60%;
}

#input-area-more {
  width: var(--button-width);
  border-radius: 100%;
  background-color: #eeecec;
  /* background: #eeecec var(--input-area-more) no-repeat center center / 60%; */
}

#input-area-more.input-area-more-selected {
  background-color: #404040;
}

#input-area-more::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent var(--input-area-more) no-repeat center center / 60%;
}

#input-area-more.input-area-more-selected::before {
  background: transparent var(--input-area-more-selected) no-repeat center
    center / 60%;
  transform: rotate(45deg);
}

#more-menu-wrapper {
  position: absolute;
  width: 100%;
  min-height: 400px;
  height: 40%;
  border-radius: 15px;
  bottom: 0;
  background-color: #eeecec;
  z-index: 324;
  animation: more-menu-wrapper-popup 0.15s cubic-bezier(0.28, 0.7, 0.4, 1)
    forwards;
}

#more-menu-wrapper > *,
.menu * {
  color: black;
}

#more-menu {
  position: relative;
  padding: 20px;
  padding-bottom: calc(20px + var(--input-area-height));
  height: 100%;
  animation: more-menu-show 0.15s cubic-bezier(0.28, 0.7, 0.4, 1) forwards;
  overflow-y: auto;
  scrollbar-width: none;
}

#more-menu::-webkit-scrollbar {
  display: none;
}

.more-menu-upload-button {
  background-color: white;
  padding: 3px 100px;
  border-radius: 2px;
  border: 1px grey solid;
  width: 300px;
  cursor: pointer;
}

.menu h1,
.menu h2,
.menu h3,
.menu h4,
.menu h5,
.menu h6 {
  margin-bottom: 0;
}

.menu *:nth-child(1) {
  margin-top: 0;
}

.menu label:has(+ input[type="text"]) {
  position: absolute;
  transform: translateX(10px) translateY(4px);
}

.menu input[type="text"] {
  margin-top: 15px;
  font-size: 1.2em;
  height: 2em;
  width: 100%;
  border: #cccccc solid 1.5px;
  border-radius: 2px;
}

@keyframes more-menu-wrapper-popup {
  from {
    min-height: var(--input-area-height);
    height: var(--input-area-height);
  }
}

@keyframes more-menu-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.more-menu-actions {
  position: static;
  white-space: nowrap;
}

.more-menu-actions > span {
  margin: 0 5px 0 5px;
  font-size: 0.95rem;
  cursor: pointer;
  color: black;
}

.more-menu-actions > span:hover {
  text-decoration: underline;
  color: oklch(65.88% 0.22754 26.089);
}

.message-row-avatar {
  --avatar-size: 100px;
  --frame-size-percentage: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 var(--avatar-size);
}

.message-row-avatar-background {
  width: var(--avatar-size);
  height: var(--avatar-size);
  background:
    var(--avatar-background) center / var(--avatar-size),
    var(--avatar-frame) center / var(--frame-size-percentage) no-repeat;
}

.message-row-avatar img {
  --avatar-size: calc(var(--frame-size-percentage) * 1.15);
  width: var(--avatar-size);
  height: var(--avatar-size);
  clip-path: xywh(16% 15% 70% 70% round 100% 100% 100% 100%);
  position: relative;
  top: 4px;
}

.message-row-content {
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-row-content-right {
  align-items: end;
}

.message-bubble-wrapper {
  max-width: 65%;
  position: relative;
}

.message-bubble-wrapper:has(.message-bubble-image) {
  min-width: 150px;
  max-width: 40%;
}

.message-bubble-wrapper > span {
  border-image-repeat: repeat;
  border-style: solid;
  border-color: transparent;
  font-size: 1.1em;
  display: inline-block;
  user-select: text;
}

.actions {
  position: absolute;
  right: 100%;
  bottom: 0;
  white-space: nowrap;
  visibility: hidden;
  padding: 30px 10px 0 10px;
}

.actions-left {
  position: absolute;
  right: initial;
  bottom: 0;
}

.message-bubble-wrapper:hover > .actions,
.actions:hover,
.horizontal-break:hover > .special-actions,
.special-actions:hover,
.state:hover > .special-actions,
.special-actions:hover,
.state-with-hl:hover > .special-actions,
.special-actions:hover {
  visibility: visible;
  animation: actions-show 0.1s linear forwards;
}

.actions > span,
.special-actions > span {
  margin: 0 5px 0 5px;
  font-size: 0.95rem;
  cursor: pointer;
}

.actions > span:hover,
.special-actions > span:hover {
  text-decoration: underline;
  color: oklch(80.9% 0.105 251.813);
}

.special-actions {
  position: absolute;
  background-color: transparent !important;
  color: white;
  opacity: 0;
  font-size: 0.8em;
  top: 6px;
}

.state .special-actions {
  top: 20px;
  left: 50%;
}

@keyframes actions-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Message Bubble
   ================================================================================ */

.message-bubble-others {
  border-image-source: var(--message-bubble-others);
  border-image-slice: 20 20 18 30 fill;
  border-image-width: 20px 20px 18px 30px;
  padding: 12px 10px 12px 20px;
  color: white;
}

.message-bubble-self {
  border-image-source: var(--message-bubble-self);
  border-image-slice: 20 30 18 20 fill;
  border-image-width: 20px 30px 18px 20px;
  padding: 12px 20px 12px 10px;
  color: black;
}

.message-bubble-animate-left {
  animation: bubble-slide-in-left 0.1s cubic-bezier(1, 0, 1, 0.8);
  transform-origin: left center;
}

.message-bubble-animate-right {
  animation: bubble-slide-in-right 0.1s cubic-bezier(1, 0, 1, 0.8);
  transform-origin: right center;
}

.message-bubble-image {
  border-image-source: none;
  border-image-slice: 0;
  border-image-width: 0;
  padding: 0px;
  width: 100%;
}

.message-bubble-image img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.message-image-error {
  display: inline-block;
  padding: 12px;
  color: #d32f2f;
}

.horizontal-break,
.state,
.state-with-hl {
  position: relative;
}

.horizontal-break {
  flex: 0 0 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3%;
  animation: bounce 0.2s linear forwards;
}

.horizontal-break > img.hb-deco1 {
  position: absolute;
  left: 20px;
  top: 5px;
  clip-path: xywh(0 4px 100% 100%);
  opacity: 0.4;
}

.horizontal-break > img.hb-deco2 {
  position: absolute;
  right: 3px;
  bottom: -10px;
  opacity: 0.4;
}

.horizontal-break > span {
  flex: 1;
  width: 100%;
  background-color: #a9a8a6;
}

@keyframes bounce {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.state {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.state > span {
  flex: 1;
  color: #7f807f;
  font-size: 1.1em;
}

.state-with-hl {
  display: flex;
  margin: 0 3%;
  align-items: center;
  gap: 15px;
}

.state-with-hl > span:first-child {
  background-color: #92908e;
  height: 3px;
  flex: 1;
}

.state-with-hl > span:nth-child(2) {
  color: #929190;
  font-size: 1.1em;
}

.state-with-hl > span:nth-child(3) {
  background-color: #92908e;
  height: 3px;
  flex: 1;
}

@keyframes bubble-slide-in-left {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes bubble-slide-in-right {
  from {
    transform: scaleX(0);
    opacity: 0;
    color: #00000000;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
    color: #000000ff;
  }
}

/* Dialog
   ================================================================================ */

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 326;
}

.dialog {
  position: absolute;
  background-color: white;
  left: 10px;
  bottom: 10px;
  min-width: 600px;
  padding: 15px;
  border-radius: 3px;
  z-index: 326;
  animation: dialog-popup 0.15s ease-out forwards;
}

.dialog-title {
  margin: -15px;
  padding: 12px;
  padding-left: 15px;
  background-color: #fdfc00;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
}

.dialog-title-close {
  background-color: #00000000;
  border: 0px;
  width: 20px;
  height: 20px;
  font-size: 1.2em;
}

.dialog-title-close:hover {
  background-color: #00000020;
}

.dialog-content {
  min-height: 200px;
  margin: 20px 0 20px 0;
}

.dialog-buttons {
  justify-content: end;
}

.dialog-buttons-confirm {
  height: 35px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  background-color: #fdfc00;
}

.dialog-buttons-confirm:hover {
  background-color: #fdfc0090;
}

.dialog-buttons-confirm:disabled {
  background-color: #d7d7d7;
  color: #858585;
  cursor: not-allowed;
}

.dialog-buttons-confirm:disabled:hover {
  background-color: #d7d7d7;
}

@keyframes dialog-popup {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-input {
  display: block;
  font-size: 0.95em;
  width: 100%;
  height: 40px;
}

.dialog-validation-errors {
  margin-top: 8px;
}

.dialog-validation-error {
  margin: 4px 0 0;
  color: #d32f2f;
  font-size: 0.9rem;
}

#new-sessions-dialog {
  gap: 5px;
}

.participant {
  padding: 12px 5px;
}

.participant:hover {
  background-color: #00000020;
}

.participant > label,
.participant > span {
  margin-left: 20px;
  font-size: 0.95em;
  color: black;
}

#new-operator-dialog {
}

.new-operator-avatar {
  width: 100px;
  height: 100px;
}

.participants {
  overflow-y: auto;
  max-height: 300px;
  max-width: 600px;
}

.participant-setting {
  justify-content: space-between;
}

.actions-participant-setting {
  position: static;
  white-space: nowrap;
}

.actions-participant-setting > span {
  margin: 0 5px 0 5px;
  font-size: 0.95rem;
  cursor: pointer;
  color: black;
}

.actions-participant-setting > span:hover {
  text-decoration: underline;
  color: oklch(69.346% 0.1654 252.626);
}

/* Insert Mode
   ================================================================================ */

#insert-mode-wrapper {
  position: absolute;
  bottom: calc(var(--input-area-height) - 10px);
  /* background-color: #19cffd; */
  --repeat-width: 4px;
  background: #62abba;
  padding: 6px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  animation: insert-mode-wrapper-popup 0.15s ease-out forwards;
  width: 150px;
}

#insert-mode-wrapper.modify-mode {
  background: #cc8400;
}

#insert-mode-wrapper > span {
  color: black;
  font-weight: 500;
}

#insert-mode-wrapper > button {
  display: inline-block;
  background-color: transparent;
  color: black;
  font-weight: 500;
  font-size: 1.2em;
  transition: background-color ease-out 0.1s;
}

#insert-mode-wrapper > button:hover {
  background-color: #ffffff60;
}

@keyframes insert-mode-wrapper-popup {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
}

/* Settings
   ================================================================================ */

/* 应该使用其父组件调用这个 */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(2px);
}

#settings {
  width: 680px;
  height: 480px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: solid grey 1px;
  border-radius: 5px;
  animation: dialog-popup 0.15s ease-out forwards;
}

#settings * {
  color: black;
}

#settings-title {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  justify-items: center;
}

#settings-title > h2 {
  font-weight: 400;
  font-size: 0.95em;
  margin: 0;
  display: inline;
}

#settings-title > button {
  background-color: transparent;
  transition: background-color 0.1s;
}

#settings-title > button:hover {
  background-color: #00000020;
}

#settings-objects > h3 {
  margin: 10px 0;
  font-weight: 400;
}

.settings-object {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 20px;
  border: solid #00000020 2px;
  border-width: 2px 0;
}

.choose-file {
  cursor: pointer;
}
